body{
  background-image: url(https://data.whicdn.com/images/133141866/large.png);
  padding: 10px;
  font-weight: bold;
}
section{
  border: 4px dotted lightpink;
  background-color: #aecfc8;
  opacity: .9;
}
.leftBar{
  float: left;
  height: 400px;
  width: 24%;
  font-family: 'Indie Flower', cursive;
  color: purple;
  padding-top: 100px;
}
.rightBody img{
  margin-top: 50px;
  width: 205px;
  height: 270px;
  font-family: helvetica;
}
input{
  padding: 15px;
  width: 59%;
  float: left;
  margin-left: 10px;
  margin-top: 30px;
}
h1{
  margin-left: 10px;
  margin-top: 30px;
}
.leftBar h4{
  margin-top: 200px;
  clear: both;
  margin-left: 10px;
  font-size: 25px;
}
.rightBody{
  height: 500px;
  float: right;
  width: 74%;
  text-align: center;
  color: purple;
}
.rightBody h2{
  font-size: 20px;
}
.rightBody h3{
  font-size: 25px;
}
button{
  width: 50px;
  height: 50px;
  background-color: transparent;
  width: 25%;
  float: right;
  border: 1px solid #aecfc8;
  margin-top: 30px;
}
button img{
  width: 40px;
  height: 40px;
}
